@charset "utf-8";
/* CSS Document */

body {
	margin: 0;
	background:
	url(images/col2bg.png) no-repeat center,
	url(images/Light-Wood-Texture.jpg) repeat-y ;

	line-height:18px;
}
 
#wrapper {
	width: 960px;
	margin: auto;
}

#header {
	width:960px;
	height:50px;
	padding: 0px 0;
	

}

#banner {
	width:900px;
	height: 350px;
	padding:0px 30px 0 200px;
}

#up {
	width:960px;
	height:50px;
	position:fixed;
	top:0px;
	padding: 0 10px 0 0px;
	z-index:10000;
}

#up ul {
	margin:0;
	padding:0;
}

#up li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}

#content {
	width: 960px;
	
}

#col1 {
	float: left;
	width:300px;
	height:500px;
	padding:75px 10px 10px 40px;
}

#col2 {
	float: right;
	width:600px;
	padding:50px 0px 0px 0px;
}

#footer {
	width:960px;

}


#owlfoot {
	width:960px;
	height:40px;
	position:fixed;
	top:0px;
	right:0;
	padding: 0px 10px 0 0px;
	z-index:10000;
}

#owlfoot ul {
	margin:0;
	padding:0;
}

#owlfoot li {
	margin:0;
	width:auto;
	display:inline;
}
	

.myBorderWithShadow {
	margin:auto;
	background:none;
	width:250px;
	height:300px;
	padding: 30px 0 0 0;
	-webkit-box-shadow: 5px 5px 10px #F9C;
	-moz-box-shadow: 5px 5px 10px #000;
	box-shadow: 5px 5px 5px #333333;
	
}

.logo {
	width:300px;
	height:100px;
	z-index:auto;

}

.logo:hover {
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	opacity: .5;
}


.Homeup {
	float:right;
	width:155px;
	height:75px;
	background: url(images/homeicon.png) 0px -75px;
}

.Homeup:hover {
	float:right;
	width:155px;
	height:75px;
	background:url(images/homeicon.png) 0 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-trasition: background 0.5s ease;
	transition: background 0.5s ease;
}

.aboutup {
	float:right;
	width:155px;
	height:75px;
	background: url(images/abouticon.png) 0px -75px;
}

.aboutup:hover {
	float:right;
	width:155px;
	height:75px;
	background:url(images/abouticon.png) 0 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-trasition: background 0.5s ease;
	transition: background 0.5s ease;
}

.produp {
	float:right;
	width:155px;
	height:75px;
	background: url(images/prodicon.png) 0px -75px;
}

.produp:hover {
	float:right;
	width:155px;
	height:75px;
	background:url(images/prodicon.png) 0 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-trasition: background 0.5s ease;
	transition: background 0.5s ease;
}

.servicesup {
	float:right;
	width:155px;
	height:75px;
	background: url(images/servicesicon.png) 0px -75px;
}

.servicesup:hover {
	float:right;
	width:155px;
	height:75px;
	background:url(images/servicesicon.png) 0 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-trasition: background 0.5s ease;
	transition: background 0.5s ease;
}

.contactup {
	float:right;
	width:155px;
	height:75px;
	background: url(images/contacts%20icon.png) 0px -75px;
}

.contactup:hover {
	float:right;
	width:155px;
	height:75px;
	background:url(images/contacts%20icon.png) 0 0px;
	-webkit-transition: background 0.5s ease;
	-moz-transition:background 0.5s ease;
	-o-trasition: background 0.5s ease;
	transition: background 0.5s ease;
}


@font-face {
    font-family: 'JennaSueRegular';
    src: url('webfont03/JennaSue-webfont.eot');
    src: url('webfont03/JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfont03/JennaSue-webfont.woff') format('woff'),
         url('webfont03/JennaSue-webfont.ttf') format('truetype'),
         url('webfont03/JennaSue-webfont.svg#JennaSueRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.Jenna{
	font-family:'JennaSueRegular';
	color:#630;
	font-size:30px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #333333;
	font-weight:bold;
}
.Jennalarge{
	font-family:'JennaSueRegular';
	color:#630;
	font-size:50px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #333333;
	font-weight:bold;
}
.Jennasmall{
	font-family:'JennaSueRegular';
	color:#600;
	font-size:16px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #333333;
}
.Jennasmallsemi{
	font-family:'JennaSueRegular';
	color:#600;
	font-size:18px;
	letter-spacing: 3px;
	text-shadow: 3px 3px 2px #333333;
}

.FBup {
	float:right;
	width:37px;
	height:40px;
	background: url(images/fbicon.png) 0px -50px;
}

.FBup:hover {
	float:right;
	width:37px;
	height:40px;
	background:url(images/fbicon.png) 0 -100px;
}

.TWup {
	float:right;
	width:37px;
	height:40px;
	background: url(images/twittericon.png) 0px -50px;
}

.TWup:hover {
	float:right;
	width:37px;
	height:40px;
	background:url(images/twittericon.png) 0 -100px;
}

.Yup {
	float:right;
	width:37px;
	height:40px;
	background: url(images/yahooicon.png) 0px -50px;
}

.Yup:hover {
	float:right;
	width:37px;
	height:40px;
	background:url(images/yahooicon.png) 0 -100px;
}

.Gup {
	float:right;
	width:37px;
	height:40px;
	background:url(images/googleicon.png) 0px -50px;
}

.Gup:hover {
	float:right;
	width:37px;
	height:40px;
	background:url(images/googleicon.png) 0 -100px;
}

#gallery {
	width:960px;
	padding: 0 px 0 0 0;

}

#gallery ul {
	margin:0;
	padding:0 400px 0 0;
}

#gallery li {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
	display:inline;
	
}

.thumb  {
	-webkit-opacity:0.5;
	-moz-opacity:0.5;
	opacity: .5;
}

.thumb:hover {
	-webkit-opacity:1;
	-moz-opacity:1;
	opacity: 1;
}

#menu {
	width:960px;
	padding: 50px 0 0 0;

}

#menu ul {
	margin:0;
	padding:0 400px 0 0;
}

#menu li {
	margin:0;
	padding:0 15px 0 0;
	list-style:none;
	text-decoration:none;
	
}
